[submodule "admin-console-web"]
	path = admin-console-web
	url = https://github.com/patryk-stepniak/admin-console-web.git
[submodule "admin-console-service"]
	path = admin-console-service
	url = https://github.com/patryk-stepniak/admin-console-service.git
